# System / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
__MACOSX/

# Dependencies
node_modules/
jspm_packages/
web_modules/

# Python caching & Virtual Environments
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv/
.poetry/
.ipynb_checkpoints/

# Maven / Java Build
target/
*.class
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Databases & Object Storages
data/
yeonam_db*
minio
minio_data/
temp/

# Environment configurations (Secrets)
.env
*.env
*.local
